<div class="header">
  <a href="/pedidos/todos/">Todos</a> |

  <a href="/pedidos/listcontainers/">List cont.</a> -
  <a href="/pedidos/prodscontainer/">P Cont.</a> -
  <a href="/pedidos/prodsdesistencia/">P Desist.</a> |

  <a href="/pedidos/newtotal/">NewTotal</a> -
<!--  <a href="/pedidos/total/">Total</a> - -->
  <a href="/pedidos/produtos/">Prods.</a> -
  <a href="/pedidos/clientes/">Clientes</a> -
  <a href="/pedidos/prodsreserva/">P Resv.</a> |
  
  <a href="/pedidos/reserva/">Resv.</a> -
  <a href="/pedidos/container/">Cont.</a> -
  <a href="/pedidos/desistencia/">Desist.</a> |
  
  <a href="/pedidos/vencem/">Vencem</a> - 
<!--  <a href="/pedidos/vencehoje/">Vence hoje</a> - -->
  <a href="/pedidos/vencidos/">Vencido</a> |

  <a href="/people/">People</a> |
  <a href="/admin/pedidos/pedido/add/" target="admin">Add</a>
</div>
